body {
  background-color: #92ccee;
  margin: 50px;
  margin-inline-start: 20px;
}

img {
  outline: 0.17em dashed #707be0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}